.notification {
    background-color: white;
    box-shadow: 0 0 10px rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 25px 20px;
    /* margin: 5px; */
    margin-bottom: 25px;
    pointer-events: all;
    overflow-wrap: break-word;
}

.notificationType {
    font-size: 0.9rem;
    font-weight: 400;
}

.unreadNotificationSubject {
    font-weight: 700;
}

.notificationDate {
    font-size: 0.5rem;
    font-style: italic;
}

.notificationOptionsBtn {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
}

.notificationOptionsBtn:hover {
    cursor: pointer;
    background-color: rgb(235, 234, 234);
}

.notificationActionLink {
    color: #3490dc !important;
}

.notificationActionLink:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.notificationSubject {
    font-size: 1rem;
}

.notificationMessage {
    font-size: 0.7rem;
    font-weight: 300;
}

.unreadNotificationMessage {
    font-weight: 500;
}




