.notification {
    background-color: white;
    box-shadow: 0 0 10px rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 15px 15px;
    margin: 5px;
    margin-bottom: 15px;
    pointer-events: all;
    overflow-wrap: break-word;
}

.notificationType {
    font-size: 0.7rem;
}

.unreadNotificationSubject {
    font-weight: 800;
}

.notificationDate {
    font-size: 0.6rem;
}

.notificationOptionsBtn {
    font-size: 1rem;
}

.notificationOptionsBtn:hover {
    cursor: pointer;
    background-color: red;
}

.notificationActionLink {
    color: #3490dc !important;
}

.notificationActionLink:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.notificationSubject {
    font-size: 1rem;
}

.notificationMessage {
    font-size: 0.8rem;
    font-weight: 300;
}

.unreadNotificationMessage {
    font-weight: 500;
}




